Requirements:
Package               Version
--------------------- -----------
box2d-py              2.3.5
cloudpickle           3.1.0
flappy-bird-gymnasium 0.4.0
glfw                  2.7.0
gymnasium             1.0.0
matplotlib            3.9.2
numpy                 1.26.4
pandas                2.2.3
swig                  4.2.1.post0
torch                 2.5.1