We recommend running in a seperate environment using something like conda,
since installing the flappy bird environment can potentially
overwrite your own versions of numpy or other packages.

Miniconda is sufficient.
Link miniconda (18/11/2024): https://docs.anaconda.com/miniconda/

Conda environment setup that can run this project:
#################################
conda install python=3.11
pip install flappy-bird-gymnasium
pip install torch
#################################
